.xo-footer {
  padding-top: 50px;
  background-color: var(--color-theme-primary);
}
.footer__wrapper {
  padding: 50px 0;
}
.footer__shop-contact {
  margin-bottom: 20px;
  .footer__shop-name {
    font-family: font(stack-header);
    font-size: 20px;

    margin-bottom: 20px;
  }
}

.footer__collection {
  margin-bottom: 50px;
  .footer__collection-title {
    font-family: font(stack-header);
  }
}

.footer__social-form {
  margin-bottom: 50px;
}

.footer__newsletter {
  .footer__newsletter-heading {
    font-family: font(stack-header);

    margin-bottom: 10px;
  }

  .footer__newsletter-form {
    display: flex;
  }

  .footer__newsletter-input {
    display: inline-block;
    border: none;

    padding: 0 12px;

    width: 90%;
    height: 40px;
    outline: none;

    border-radius: 0;

    @include responsive(LG) {
      width: 80%;
    }
  }

  .footer__newsletter-submit {
    display: inline-block;
    width: 10%;
    height: 40px;
    outline: none;
    background-color: #fff;
    border-radius: 0;
    border: transparent;

    position: relative;

    &:hover {
      cursor: pointer;
    }

    &::before {
      content: '';
      width: 1px;
      height: 100%;
      background-color: #e0e0e0;

      position: absolute;
      left: 0;
      bottom: 0;
    }

    @include responsive(LG) {
      width: 20%;
    }

    svg {
      position: relative;
      top: 2px;

      width: 15px;
      height: 15px;
    }
  }
}

.footer__socials-lists {
  display: flex;

  margin-top: 20px;

  .Icon {
    width: 20px;
    height: 20px;

    margin-right: 20px;
  }
}

.footer__menu-item {
  font-family: font(stack-header);
}

.footer__copyright {
  border-top: 1px solid color(border);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px 0;

  @include responsive(XL) {
    justify-content: flex-start;
  }
}
