.xo-toast-msg--is-success {
  z-index: 999;
  margin: 0 10px;
  top: 0 !important;
  color: #000;
  transition: all .4s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
