.blog-article__card {
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.3s;

  &:hover {
    background-color: color(theme-primary);

    .blog-article__title,
    .blog-article__desc,
    .blog-article__date {
      color: color(overlay-title-text) !important;
    }
  }
}

.blog-article__image {
  width: 100%;
  height: 250px;
  overflow: hidden;

  &>img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.blog-article__image--list.blog-article__image {
  @include responsive(LG) {
    height: 350px;
  }
}

.blog-article__title {
  margin-top: 20px;
}

.blog-article__desc {
  display: none;

  @include responsive(MD) {
    display: inline-block;
    height: 100px;
  }
}

.blog-article__date {
  border-top: 2px solid color(border);

  padding: 12px 0;

  text-transform: uppercase;
  opacity: .5;
}
