.xo-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.pagination-page-index {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;

  &.is-active {
    background-color: var(--color-theme-primary);
    color: #fff;

    &:not([disabled]):hover {
      color: #fff;
    }
  }
}

.btn-pagination {
  background: none;
  outline: none;
  border: none;

  svg {
    width: 7px;
  }
}
