.error-template {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-template-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-template__noti {
  font-size: 140px;
  margin-bottom: -24px;
  @include responsive(XL) {
    font-size: 190px;
  }
}

.error-template-content h3 {
  margin-bottom: 10px;
}

.error-template__subtext {
  margin-bottom: 40px;
}

