$map-img-width: 80px;

%nextPrevBtn {
  color: var(--color-theme-primary);
}

#shopify-section-product-template {
  margin-bottom: 50px;
}

.product-container {
  display: flex;
  justify-content: center;

  div.xo-row.product-info {
    width: 100%;
    justify-content: center;
  }

  /* Product price custom style from snipet */
  .product-price {
    font-weight: 900;
    font-size: 20px;
    margin: 15px 0;
  }
}

/** Container ben ngoai ca Thumb + Main image --------- */
.product-image {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

/** Thumb image ------ */
.product-thumb-swiper {
  width: 100%;

  /** Button next slide */
  .swiper-button-next,
  .swiper-button-prev {
    @extend %nextPrevBtn;
    &::after {
      font-size: 20px;
      font-weight: 900;
    }
  }

  ul.product-thumb-imgs {}

  /** Slide item */
  li.product-thumb__item {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    display: inline-block;
    transition: linear 0.25s;
    height: $map-img-width;
    min-width: $map-img-width;
    max-width: $map-img-width;
    margin: 5px;
    cursor: pointer;

    > img {
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 1;
    }

    video,
    model-viewer,
    iframe {
      width: $map-img-width;
      max-width: $map-img-width;
      height: $map-img-width;
    }

    video {
      object-fit: cover;
    }
  }
}

/** Main image ----- */
.product-feature-swiper {
  width: 100%;

  .product-thumb__item {
    /** Slide model in main image */
    model-viewer,
    iframe,
    video {
      width: 100%;
      height: 100%;
    }

    model-viewer,
    canvas {
      z-index: 999;
    }
  }

  /** Button next slide */
  .swiper-button-next,
  .swiper-button-prev {
    @extend %nextPrevBtn;
    &::after {
      font-size: 30px;
      font-weight: 900;
    }
  }
}

/* Phần thông tin chi tiết của product ở bên phải -------*/
.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .product-vendor {
    color: var(--color-theme-primary);
    margin-bottom: 15px;
  }
}
