.xo-blog-posts {
  @include responsive(MD) {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

.blog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .blog__extend {
    font-weight: 500;

    svg {
      width: 10px;
      height: 10px;
    }
  }
}

.blog__content {
  .blog-article__title {
    margin-bottom: 20px;
  }

  .blog-article__desc {
    display: none;
  }
}


.blog-article__card.blog-article__card--empty {
  &:hover {
    background-color: transparent;

    .blog-article__title,
    .blog-article__desc,
    .blog-article__date {
      color: #000 !important;
    }
  }

  svg {
    background: dimgray;
    fill: #a1a1a1;
  }
}

.blog__content .blog-article__card,
.blog-article__card.blog-article__card--empty {
  padding-left: 15px;
  padding-right: 15px;
  margin: 20px 0 0;
}
